* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', Arial, sans-serif;
}

.header {
    background-color: #ea5a3d;
    color: white;
    padding: 28px;
    font-size: 1.3em;
    text-align: center;
}

.smartwatch {
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

img {
    width: 300px;
    margin-right: 20px;
}

.content p {
    padding-top: 20px;
}

.content p:first-child {
    font-size: 1.5em;
    font-weight: bold;
}

.content p:nth-child(2) {
    font-size: 1.1em;
    color: rgb(114, 114, 114);
}

.content p:nth-child(3) {
    font-size: 1.3em;
    font-weight: bold;
}

.colorblack,
.colororange,
.colorpink,
.colorpurple {
    display: inline-block;
    width: 50px;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.colorblack {
    background-color: black;
}

.colororange {
    background-color: #cb3d23;
}

.colorpurple {
    background-color: #575680;
}

.colorpink {
    background-color: #eac6bd;
}

.addtocart {
    display: inline-block;
    background-color: #f0f0f0;


}

.buy {
    display: inline-block;
    background-color: #ff4503;
    color: white;
}

.addtocart,
.buy {
    width: 150px;
    margin-top: 20px;
    text-align: center;
    padding: 13px 0;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.9em;
    cursor: pointer;

}


@media screen and (max-width: 500px) {
    .smartwatch {
        flex-direction: column;
        padding: 0 15%;
        padding-bottom: 30px;
    }

    img {
        width: 280px;
        height: 280px;
        margin-right: 0;
    }

    .buy {
        margin-top: 0;
    }
}